<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Create a Car</title>
  </head>
  <body>
    <h1>Create a New Car!</h1>
    <form action="/cars" method="POST">
      <label for="make">Make:</label>
      <input type="text" name="make" id="make" /> <br />

      <label for="model">Model:</label>
      <input type="number" name="model" id="model" /> <br />

      <label for="fuelType">Fuel Type:</label>
      <select name="fuelType" id="fuelType">
        <option value="Gasoline">Gasoline</option>
        <option value="Diesel">Diesel</option>
      </select>

      <br />

      <label for="numberOfDoors">Number Of Doors:</label>
      <input type="number" name="numberOfDoors" id="numberOfDoors" /> <br />

      <label for="isUsed">Used?</label>
      <input type="checkbox" name="isUsed" id="isUsed" /> <br />

      <button type="submit">Add Car</button>
    </form>
    <a href="/cars">Back to Cars</a>
  </body>
</html>
